<div class="card card-activity card-md">

    <div class="card-header">
        Últimas Atualizações
    </div>

    <div class="card-media-list">

        <div *ngFor="let rhFuncionario of rhFuncionarios">

            <div class="media">

                <div class="profile-picture bg-gradient bg-secondary has-message float-right d-flex mr-3">
                    <img [src]="[pathImg + '/' + rhFuncionario?.foto]" width="44" height="44" class="mCS_img_loaded">
                </div>

                <div class="media-body">
                    <div class="heading mt-1">
                        <span class="badge" [class.badge-secondary]="rhFuncionario?.rhFuncionarioStatus?.id == 1"
                            [class.badge-success]="rhFuncionario?.rhFuncionarioStatus?.id == 2"
                            [class.badge-warning]="rhFuncionario?.rhFuncionarioStatus?.id == 3">
                            {{rhFuncionario?.rhFuncionarioStatus?.nome}}
                        </span>
                    </div>
                    <div class="subtext">{{rhFuncionario?.nome}}</div>
                </div>
            </div>

        </div>
    </div>
</div>