<div class="card card-activity card-md">

    <div class="card-header">
        Status
    </div>

    <div class="card-media-list mCustomScrollbar _mCS_2 mCS-autoHide">
        <div id="mCSB_2" class="mCustomScrollBox mCS-dark mCSB_vertical mCSB_inside" tabindex="0">

            <div id="mCSB_2_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">
                <div class="media clickable" data-qp-link="task-list.html">
                    <div class="profile-picture bg-gradient bg-secondary has-message float-right d-flex mr-3">
                        <img src="assets/img/profile-pic-4.jpg" width="44" height="44" class="mCS_img_loaded">
                    </div>
                    <div class="media-body">
                        <div class="heading mt-1">
                            <span class="badge badge-success">Trabalhando</span>.
                        </div>
                        <div class="subtext">João Silva Pereira</div>
                    </div>
                </div>
            </div>

            <div id="mCSB_2_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">
                <div class="media clickable" data-qp-link="task-list.html">
                    <div class="profile-picture bg-gradient bg-secondary has-message float-right d-flex mr-3">
                        <img src="assets/img/profile-pic-4.jpg" width="44" height="44" class="mCS_img_loaded">
                    </div>
                    <div class="media-body">
                        <div class="heading mt-1">
                            <span class="badge badge-danger">Em Atraso</span>.
                        </div>
                        <div class="subtext">Maria Oliveira Costa</div>
                    </div>
                </div>
            </div>

            <div id="mCSB_2_scrollbar_vertical"
                class="mCSB_scrollTools mCSB_2_scrollbar mCS-dark mCSB_scrollTools_vertical mCSB_scrollTools_onDrag_expand"
                style="display: block;">
                <div class="mCSB_draggerContainer">
                    <div id="mCSB_2_dragger_vertical" class="mCSB_dragger"
                        style="position: absolute; min-height: 30px; display: block; height: 158px; max-height: 295px; top: 0px;">
                        <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                    </div>
                    <div class="mCSB_draggerRail"></div>
                </div>
            </div>

        </div>
    </div>
</div>