<div id="mCSB_5_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
    <ul class="nav nav-pills flex-column">
        <li class="logo-nav-item">
            <a class="navbar-brand" href="#">
                <img src="assets/img/logo_white.svg" width="145" height="32.3" alt="QuillPro" class="mCS_img_loaded">
            </a>
        </li>

        <li>
            <h6 class="nav-header">Geral</h6>
        </li>

        <li *ngFor="let opt of menuOpts" class="selected" (click)="onSelect(opt)" style="cursor: pointer;">
            <a class="nav-link" [class.active]="optSelected == opt">
                <i [class]="opt?.icon"></i>
                {{opt?.title}}
            </a>
        </li>

    </ul>
</div>