<fclock-rh-funcionario-form #form></fclock-rh-funcionario-form>

<!--LISTAGEM DE FUNCIONARIOS-->
<div class="col-md-12">
    <div class="card">

        <div class="card-header">
            <div class="row">
                <div class="col-md-3">
                    Funcionários
                </div>

                <div class="col-md-9">
                    <input style="width: 250px; float: right;" type="search" class="form-control form-control-sm"
                        placeholder="Pesquisar..." autocomplete="off">
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <a (click)="form?.openModal()" class="btn btn-success" style="color: white; cursor: pointer;"><i class="fa fa-plus"></i> Adicionar</a>
        </div>

        <div class="card-table table-responsive">
            <table class="table table-hover align-middle">
                <thead class="thead-light">
                    <tr>
                        <th>Setor</th>
                        <th>Nome</th>
                        <th class="text-center">Status</th>
                        <th>Última Hora</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let funcionario of data">
                        <td>
                            <div class="media">
                                <div style="cursor: pointer;" (click)="form?.openModal(funcionario)" class="profile-picture bg-gradient bg-primary has-message float-right d-flex mr-3">
                                    <img [src]="[pathImg + '/' + funcionario?.foto]" width="44" height="44">
                                </div>

                                <div class="media-body">
                                    <div class="heading mt-1">
                                        {{funcionario?.rhEscala?.nome}}
                                    </div>

                                    <div class="subtext text-success">50</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="javascript:;" (click)="form?.openModal(funcionario)">{{funcionario?.nome}}</a>
                        </td>
                        <td class="text-center">
                            <span class="badge badge-success">Trabalhando</span>
                        </td>
                        <td>23rd Feb 2017</td>

                        <td class="text-right">

                            <div class="btn-group" role="actions" aria-label="Button group with nested dropdown">

                                <div class="btn-group" role="actions">

                                    <button id="btnActions" type="button" class="btn btn-primary dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Ações
                                    </button>

                                    <div class="dropdown-menu" aria-labelledby="btnActions">
                                        <a class="dropdown-item" href="#">Dropdown link</a>
                                        <a class="dropdown-item" href="#">Dropdown link</a>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>