<!--LISTAGEM DE FUNCIONARIOS-->
<div class="col-md-12">
    <div class="card">

        <div class="card-header">
            <div class="row">
                <div class="col-md-3">
                    Funcionários
                </div>

                <div class="col-md-9">
                    <input (input)="onSearch($event?.target?.value)" style="width: 250px; float: right;" type="search" class="form-control form-control-sm"
                        placeholder="Pesquisar..." autocomplete="off">
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <a (click)="form?.openModal()" class="btn btn-success" style="color: white; cursor: pointer;">
                <i class="fa fa-plus"></i> Novo Funcionário</a>
        </div>

        <div class="card-table table-responsive">
            <table class="table table-hover align-middle table condensed">
                <thead class="thead-light">
                    <tr>
                        <th>Setor</th>
                        <th>Nome</th>
                        <th class="text-center">Status</th>
                        <th>Última Hora</th>
                        <th class="text-right"></th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let funcionario of data">
                        <td>
                            <div class="media">
                                <div style="cursor: pointer;" (click)="form?.openModal(funcionario)" class="profile-picture bg-gradient bg-primary float-right d-flex mr-3">
                                    <img *ngIf="funcionario?.foto" [src]="[pathImg + '/' + funcionario?.foto]" width="44" height="44">
                                    <img *ngIf="!funcionario?.foto" [src]="[pathImg + '/no-profile.jpg']" width="44" height="44">
                                </div>

                                <div class="media-body">
                                    <div class="heading mt-1">
                                        {{funcionario?.rhEscala?.nome}}
                                    </div>

                                    <div class="subtext">Saldo: <b class="text-success">{{funcionario?.hrSaldo}}</b></div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="javascript:;" (click)="form?.openModal(funcionario)">{{funcionario?.nome}}</a>
                        </td>
                        <td class="text-center">
                            <span class="badge"
                                [class.badge-secondary]="funcionario?.rhFuncionarioStatus?.id == 1"
                                [class.badge-success]="funcionario?.rhFuncionarioStatus?.id == 2"
                                [class.badge-warning]="funcionario?.rhFuncionarioStatus?.id == 3">
                                {{funcionario?.rhFuncionarioStatus?.nome}}
                            </span>
                        </td>
                        <td>{{funcionario?.hrUltima}}</td>

                        <td>
                            <a (click)="openPonto(funcionario)" class="btn btn-sm btn-primary" style="cursor: pointer;" title="Gerenciar Registro de Ponto">
                                <i class="fa fa-clock-o fa-x2" style="color: white"></i>
                            </a>
                        </td>

                        <td>
                            <a (click)="modalDelete?.openModal(funcionario?.id)" class="btn btn-sm btn-danger" style="cursor: pointer;">
                                <i class="fa fa-trash" style="color: white"></i>
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- MODAL FORM -->
<fclock-rh-funcionario-form #form></fclock-rh-funcionario-form>

<!-- MODAL DELETE -->
<fclock-rh-funcionario-delete #modalDelete></fclock-rh-funcionario-delete>

<!-- MODAL PONTO -->
<fclock-base-modal title="Registro de Ponto" [isDisableSubmit]="true" [width]="['1080px']" #modalPonto>
    <fclock-rh-ponto #rhPonto></fclock-rh-ponto>
</fclock-base-modal>