<div class="row">

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-tile card-xs bg-primary bg-gradient text-center">
                    <div class="card-body p-4">
                        <div class="tile-left">
                            <i class="fa fa-user fa-4x"></i>
                        </div>
                        <div class="tile-right">
                            <div class="tile-number">1,359</div>
                            <div class="tile-description">Total de Colaboradores</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-tile card-xs bg-secondary bg-gradient text-center">
                    <div class="card-body p-4">
                        <div class="tile-left">
                            <i class="fa fa-clock-o fa-4x"></i>
                        </div>
                        <div class="tile-right">
                            <div class="tile-number">98,00</div>
                            <div class="tile-description">Horas Trabalhadas no Dia</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <fclock-rh-dashboard-status></fclock-rh-dashboard-status>
    </div>

</div>